<?xml version="1.0" encoding="UTF-8"?>
<builder>

    <mapper name="findUserByName">

        SELECT
        	a.*,
        	b.contract_name AS contract_order_currencyname,
        	b.contract_currencytype AS contract_order_currencytype,
        	b.contract_pl_closeprice AS contract_order_closeprice,
        	b.contract_pl_profit AS contract_order_profit
        FROM
        	shiqi_contract_order a
        	LEFT JOIN shiqi_contract b ON b.contract_key = a.contract_order_currencykey
        	LEFT JOIN shiqi_contract_pl c ON c.contract_pl_ordernumber = a.contract_order_id
        WHERE
        	a.contract_order_account = {{account}}
            <choose>
                <e test="$req == null">
                    and order_username = {{username}}
                    and a.contract_order_status > {{status}}
                </e>
            </choose>
            and order_currency_type = {{type}}
            and order_status = {{status}}

        ORDER BY
        	a.contract_order_createtime DESC
        	LIMIT {{limit 0 ',' 1}}

    </mapper>

</builder>