<?xml version="1.0" encoding="UTF-8"?>
<builder name="UserMapper">

    <mapper name="findUserByName">

        select *
        from user
        where
        1=1
        <if test="username != null">
            username = {{username}}
        </if>
        <if test="password != null">
            password = {{password}}
        </if>
    </mapper>

    <mapper name="findUserByXX">

        aaa
        <chose>
            <if test="1 = 1">
                bbb
            </if>
            <else>
                ccc
            </else>
        </chose>

    </mapper>

</builder>