<builder name="UserMapper">

    <mapper name="findUserByName">

        select *
        from
        user
        where
        1 = 1

        <choose>
            <if test="$req != username">
                and user_a = {{usera}}
            </if>
            <else>
                and user_b = {{userb}}
            </else>
        </choose>

    </mapper>

</builder>
